@charset "UTF-8";
@font-face {
  font-family: 'Bebas Neue';
  src: url("assets/fonts/bebas/BebasNeueRegular.eot");
  src: url("assets/fonts/bebas/BebasNeueRegular.eot?#iefix") format("embedded-opentype"), url("assets/fonts/bebas/BebasNeueRegular.woff2") format("woff2"), url("assets/fonts/bebas/BebasNeueRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Bebas Neue';
  src: url("assets/fonts/bebas/BebasNeueBold.eot");
  src: url("assets/fonts/bebas/BebasNeueBold.eot?#iefix") format("embedded-opentype"), url("assets/fonts/bebas/BebasNeueBold.woff2") format("woff2"), url("assets/fonts/bebas/BebasNeueBold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Bebas Neue Book';
  src: url("assets/fonts/bebas/BebasNeueBook.eot");
  src: url("assets/fonts/bebas/BebasNeueBook.eot?#iefix") format("embedded-opentype"), url("assets/fonts/bebas/BebasNeueBook.woff2") format("woff2"), url("assets/fonts/bebas/BebasNeueBook.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Bebas Neue';
  src: url("assets/fonts/bebas/BebasNeueLight.eot");
  src: url("assets/fonts/bebas/BebasNeueLight.eot?#iefix") format("embedded-opentype"), url("assets/fonts/bebas/BebasNeueLight.woff2") format("woff2"), url("assets/fonts/bebas/BebasNeueLight.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Bebas Neue';
  src: url("assets/fonts/bebas/BebasNeue-Thin.eot");
  src: url("assets/fonts/bebas/BebasNeue-Thin.eot?#iefix") format("embedded-opentype"), url("assets/fonts/bebas/BebasNeue-Thin.woff2") format("woff2"), url("assets/fonts/bebas/BebasNeue-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Abel';
  src: url("assets/fonts/abel/Abel-Regular.eot");
  src: url("assets/fonts/abel/Abel-Regular.eot?#iefix") format("embedded-opentype"), url("assets/fonts/abel/Abel-Regular.woff2") format("woff2"), url("assets/fonts/abel/Abel-Regular.woff") format("woff"), url("assets/fonts/abel/Abel-Regular.ttf") format("truetype"), url("assets/fonts/abel/Abel-Regular.svg#Abel-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

#wpadminbar {
  display: none; }

header {
  font-family: "Abel";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -2%; }

.black-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  top: 0;
  left: 0; }

.skip-link {
  display: none; }

.logo {
  background: url("assets/NW_logo_small_yellow.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 8%;
  width: 5%;
  position: absolute;
  left: 47.5%;
  right: 47.5%;
  top: 4%;
  display: none; }

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.menu-menu-1-container {
  z-index: 1001; }
  .menu-menu-1-container ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 5%;
    position: absolute;
    left: 0; }
    @media (min-width: 1080px) {
      .menu-menu-1-container ul {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        position: relative;
        margin-left: 0; } }
    .menu-menu-1-container ul li {
      text-transform: lowercase; }
      .menu-menu-1-container ul li a {
        color: white; }
      @media (min-width: 1080px) {
        .menu-menu-1-container ul li:after {
          content: "/";
          padding: 0 10px;
          color: white;
          text-decoration: none; }
        .menu-menu-1-container ul li:last-of-type:after {
          content: ""; } }
    .menu-menu-1-container ul .current_page_item {
      text-decoration: line-through; }

.menu-button {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  color: black;
  font-size: 1rem;
  font-family: "Abel";
  padding: 0;
  margin: 0; }
  .menu-button i {
    font-size: .8rem; }

.menu-close {
  z-index: 1001; }

.fa-times {
  color: white;
  padding-right: 10px; }

.work-with-me {
  color: black;
  font-family: "Abel";
  padding-top: 10px; }
  .work-with-me:before {
    content: "—"; }

.home {
  background-image: url("assets/bg_image_cover.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }
  .home .site-info {
    display: none; }
  .home .menu-button {
    color: white; }
  .home .work-with-me {
    color: white; }
  .home .logo {
    display: block; }

.headers-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 99%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: .5%; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

.photo-header, .ux-header {
  color: white;
  font-family: "Bebas Neue";
  font-weight: 300;
  font-size: 2rem; }
  .photo-header:hover, .ux-header:hover {
    color: lightgray; }
  @media (min-width: 1080px) {
    .photo-header, .ux-header {
      font-size: 4rem; } }

.photo-header:after {
  content: "—"; }

.ux-header:before {
  content: "—"; }

.ux-ol, .photo-ol {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  top: 0;
  z-index: -1; }
  @media (min-width: 1080px) {
    .ux-ol, .photo-ol {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.ux-ol {
  left: 0; }

.photo-ol {
  right: 0; }

.black-section-ux, .black-section-photo {
  width: 30%;
  background: rgba(0, 0, 0, 0.9); }

.ux-pic, .photo-pic {
  height: 100%;
  width: 70%; }

.ux-img, .photo-img {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.single-designs .site-info {
  position: relative; }

.design-title {
  font-family: "Bebas Neue";
  text-align: center;
  font-size: 3rem; }
  @media (min-width: 1080px) {
    .design-title {
      display: none; } }

.design-slider {
  width: 95%;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  position: absolute;
  top: calc(50% - 15vh); }
  @media (min-width: 1080px) {
    .design-slider {
      max-width: 1000px;
      height: 80vh;
      position: relative;
      margin: 0 auto 0 auto; } }
  .design-slider::-webkit-scrollbar {
    display: none; }

.design-slide img {
  position: relative;
  max-height: 30vh;
  max-width: 370px;
  padding: 0 10px 0 10px; }
  @media (min-width: 1080px) {
    .design-slide img {
      max-width: 1000px;
      max-height: 80vh; } }

.design-img {
  width: 90%;
  margin-left: 5%; }

.n2-ss-slide-background-image {
  opacity: 1 !important; }

.slider-btn-lft, .slider-btn-right {
  background: none;
  color: black;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "Abel";
  font-size: 3rem;
  position: absolute;
  z-index: 10;
  top: calc(50% - 1rem); }

.slider-btn-lft {
  right: 0; }

.slider-btn-right {
  left: 0; }

.site-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 5%;
  -ms-flex-line-pack: center;
      align-content: center;
  position: fixed;
  bottom: 0;
  width: 95%;
  left: 2.5%;
  right: 2.5%; }

.logo-left {
  background: url("assets/NW_logo_black.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 50px; }

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  width: 25%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (min-width: 1080px) {
    .social-links {
      width: 10%; } }
  .social-links li {
    list-style-type: none; }
  .social-links a {
    color: black; }
    .social-links a:hover {
      color: black; }

.page-template-page-about {
  font-family: "Bebas Neue"; }
  .page-template-page-about .site-info {
    position: relative; }
    @media (min-width: 1080px) {
      .page-template-page-about .site-info {
        position: fixed; } }
  @media (min-width: 1080px) {
    .page-template-page-about .about-hero {
      width: 70%;
      margin-left: 20%;
      position: absolute; } }
  .page-template-page-about .title-about {
    width: 90%;
    font-size: 3rem;
    margin: 0; }
    @media (min-width: 1080px) {
      .page-template-page-about .title-about {
        font-size: 7rem;
        letter-spacing: 20px;
        margin: 0; } }
  .page-template-page-about .about-nitish {
    width: 90%;
    font-size: 1rem;
    color: gray;
    font-family: "Abel";
    text-transform: uppercase;
    margin-top: -2%; }
    @media (min-width: 1080px) {
      .page-template-page-about .about-nitish {
        font-size: 1.1rem;
        font-weight: 300;
        margin: 0;
        margin-top: -3%; } }
  .page-template-page-about .about-container {
    width: 90%;
    margin: 0 auto 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .page-template-page-about .about-image {
    width: 30%; }
    .page-template-page-about .about-image img {
      display: none; }
      @media (min-width: 1080px) {
        .page-template-page-about .about-image img {
          display: block;
          width: 100%;
          height: 80vh; } }
  .page-template-page-about .about-content {
    font-family: "Abel"; }
    @media (min-width: 1080px) {
      .page-template-page-about .about-content {
        width: 60%; } }
    .page-template-page-about .about-content p {
      width: 100%;
      color: grey;
      text-align: justify; }
      @media (min-width: 1080px) {
        .page-template-page-about .about-content p {
          text-align: left; } }

.photography-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (min-width: 1080px) {
    .photography-body {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }

.post-type-archive-photography .site-info {
  position: relative; }
  @media (min-width: 1080px) {
    .post-type-archive-photography .site-info {
      position: fixed; } }

.photos-container {
  width: 95%;
  height: 77vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  margin: 0 auto 0 auto; }
  @media (min-width: 1080px) {
    .photos-container {
      width: 85%; } }
  .photos-container::-webkit-scrollbar {
    display: none; }

.photoslider-btn-lft, .photoslider-btn-right {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "Abel";
  font-size: 3rem;
  position: absolute;
  z-index: 10;
  top: calc(50% - 3rem); }

.photoslider-btn-lft {
  right: 0; }

.photoslider-btn-right {
  left: 0; }
  @media (min-width: 1080px) {
    .photoslider-btn-right {
      left: 16%; } }

.photography-title {
  font-family: "Bebas Neue";
  font-size: 1.2rem;
  letter-spacing: 8px;
  color: #cdcdcd;
  width: auto;
  margin: 0 auto 0 auto; }
  @media (min-width: 1080px) {
    .photography-title {
      position: absolute;
      top: 10%;
      left: 17%;
      font-size: 3rem; } }

.photo-image {
  height: 100%; }
  .photo-image p {
    margin: 0;
    color: gray;
    font-family: "Bebas Neue";
    font-size: 1rem; }
  .photo-image img {
    height: 80%;
    padding-right: 10px; }
  .photo-image:last-of-type img {
    padding: 0; }

.filter-box {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto 0 auto; }
  @media (min-width: 1080px) {
    .filter-box {
      margin-top: 5%;
      margin-left: 2%;
      width: 15%; } }

.photo-filters {
  font-family: "Abel";
  font-size: 1rem;
  color: black;
  border-bottom: 1px solid black;
  width: 20%;
  padding-bottom: 5px;
  text-transform: lowercase; }

.photo-types {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%; }
  @media (min-width: 1080px) {
    .photo-types {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.photo-type {
  list-style-type: none;
  text-transform: lowercase;
  font-family: "Abel";
  color: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
  .photo-type:visited {
    color: white; }

.photo_img {
  width: 92%;
  height: 82vh;
  margin-left: auto;
  margin-right: auto; }
  .photo_img img {
    width: 100%;
    height: 100%; }

.tax-photo_types .site-info {
  position: relative; }
  @media (min-width: 1080px) {
    .tax-photo_types .site-info {
      position: fixed; } }

.page-template-page-work-with-me .site-info {
  position: relative; }

.page-template-page-work-with-me fieldset {
  border: none; }

.page-template-page-work-with-me .wwm-title {
  font-family: "Bebas Neue";
  color: grey;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto 0 auto; }
  @media (min-width: 1080px) {
    .page-template-page-work-with-me .wwm-title {
      margin: 0;
      margin-left: 4%;
      margin-bottom: 5%;
      width: 60%; } }
  .page-template-page-work-with-me .wwm-title .collab {
    color: #e6e6e6;
    font-size: 3rem;
    text-align: center;
    line-height: 25px; }
    @media (min-width: 1080px) {
      .page-template-page-work-with-me .wwm-title .collab {
        font-size: 4rem;
        text-align: left;
        line-height: 40px;
        letter-spacing: 18px; } }
  .page-template-page-work-with-me .wwm-title .wm {
    -ms-flex-item-align: end;
        align-self: flex-end; }

@media (min-width: 1080px) {
  .page-template-page-work-with-me form {
    width: 95%;
    height: 80vh;
    margin: 0 auto 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

.page-template-page-work-with-me .radio-options {
  border-bottom: 1px solid gray; }
  .page-template-page-work-with-me .radio-options label {
    font-family: "Bebas Neue";
    color: black; }
  .page-template-page-work-with-me .radio-options p {
    font-family: "Abel";
    color: gray;
    text-align: justify; }
    @media (min-width: 1080px) {
      .page-template-page-work-with-me .radio-options p {
        font-size: .9rem;
        margin-left: 4%; } }
  @media (min-width: 1080px) {
    .page-template-page-work-with-me .radio-options {
      width: 55%;
      border-bottom: none;
      border-right: 1px solid gray;
      height: 100%; } }

.page-template-page-work-with-me .customer-info {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Abel"; }
  @media (min-width: 1080px) {
    .page-template-page-work-with-me .customer-info {
      width: 35%;
      -ms-flex-item-align: center;
          align-self: center; } }
  .page-template-page-work-with-me .customer-info input {
    border: none;
    border-bottom: 1px solid grey;
    width: 90%;
    margin-bottom: 5%; }
    .page-template-page-work-with-me .customer-info input::-webkit-input-placeholder {
      color: gray;
      font-family: "Abel"; }
    .page-template-page-work-with-me .customer-info input:-ms-input-placeholder {
      color: gray;
      font-family: "Abel"; }
    .page-template-page-work-with-me .customer-info input::-ms-input-placeholder {
      color: gray;
      font-family: "Abel"; }
    .page-template-page-work-with-me .customer-info input::placeholder {
      color: gray;
      font-family: "Abel"; }
  .page-template-page-work-with-me .customer-info textarea {
    border: none;
    border-bottom: 1px solid gray;
    width: 90%;
    padding: 0; }
    .page-template-page-work-with-me .customer-info textarea::-webkit-input-placeholder {
      color: gray;
      font-family: "Abel"; }
    .page-template-page-work-with-me .customer-info textarea:-ms-input-placeholder {
      color: gray;
      font-family: "Abel"; }
    .page-template-page-work-with-me .customer-info textarea::-ms-input-placeholder {
      color: gray;
      font-family: "Abel"; }
    .page-template-page-work-with-me .customer-info textarea::placeholder {
      color: gray;
      font-family: "Abel"; }
  .page-template-page-work-with-me .customer-info .submit-form {
    border: none;
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: 0;
    width: 10%;
    font-family: "Bebas Neue";
    font-size: 1rem;
    padding: 0;
    margin-top: 5%; }

.page-template-page-work-with-me legend {
  font-weight: 500;
  margin-bottom: 5%; }
  .page-template-page-work-with-me legend span {
    font-weight: bold; }

.stories-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  height: 60vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto 0 auto;
  overflow-x: auto; }
  .stories-container::-webkit-scrollbar {
    display: none; }
  @media (min-width: 1080px) {
    .stories-container {
      float: right;
      margin: 0;
      height: 80vh; } }

.single-post .site-info {
  position: relative; }

.stories-title {
  font-size: 3rem;
  font-family: "Bebas Neue";
  text-align: center;
  margin: 0; }
  @media (min-width: 1080px) {
    .stories-title {
      display: none; } }

.story-wrapper {
  width: 60%;
  height: 45%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin: 5px;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1 auto;
          flex: 1 auto; }
  @media (min-width: 1080px) {
    .story-wrapper {
      width: 38%;
      height: 40%; } }

.story-img {
  width: 100%;
  height: 30vh; }
  @media (min-width: 1080px) {
    .story-img {
      height: 45vh; } }

.story-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
  position: absolute;
  top: 0; }

.story-title {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -27px;
  width: 300px;
  height: 54px;
  text-align: center;
  font-family: "Bebas Neue";
  text-transform: uppercase;
  color: white;
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 0;
  z-index: 2; }
  @media (min-width: 1080px) {
    .story-title {
      font-size: 3rem; } }

.story-single-title {
  font-family: "Bebas Neue";
  text-align: center;
  margin: 0; }

.story-single-content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Abel"; }

.story-img-collage {
  width: 90.5%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  @media (min-width: 1080px) {
    .story-img-collage {
      height: 800px; } }

.story-img-single {
  width: 32.5%;
  margin: 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1 auto;
          flex: 1 auto; }

.single .post-navigation {
  font-family: "Abel";
  margin-left: 5%; }

input[type="range"] {
  -webkit-appearance: none;
  background: transparent;
  position: absolute;
  top: 83%;
  left: 40%;
  width: 30%; }
  @media (min-width: 1080px) {
    input[type="range"] {
      top: 92%; } }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; }

input[type=range]:focus {
  outline: none;
  /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */ }

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent; }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 3px;
  background: black;
  cursor: pointer;
  margin-top: -9px;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */ }

input[type=range]::-moz-range-thumb {
  border: 1px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 3px;
  background: black;
  cursor: pointer; }

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  border: 1px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 3px;
  background: black;
  cursor: pointer; }

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: transparent;
  border-radius: 1.3px;
  border: .5px dotted #010101; }

input[type=range]:focus::-webkit-slider-runnable-track {
  background: transparent; }

input[type=range]::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: #3071a9;
  border-radius: 1.3px;
  border: .5px dotted #010101; }

input[type=range]::-ms-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent; }

input[type=range]::-ms-fill-lower {
  background: transparent;
  border: .5px dotted #010101;
  border-radius: 2.6px; }

input[type=range]:focus::-ms-fill-lower {
  background: transparent; }

input[type=range]::-ms-fill-upper {
  background: transparent;
  border: .5px dotted #010101;
  border-radius: 2.6px; }

input[type=range]:focus::-ms-fill-upper {
  background: transparent; }
