.page-template-page-design {

}


#n2-ss-2-align {
    width: 65%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
}

.nextend-bullet-bar {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between !important;
}