@font-face {
    font-family: 'Bebas Neue';
    src: url('assets/fonts/bebas/BebasNeueRegular.eot');
    src: url('assets/fonts/bebas/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/bebas/BebasNeueRegular.woff2') format('woff2'),
        url('assets/fonts/bebas/BebasNeueRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('assets/fonts/bebas/BebasNeueBold.eot');
    src: url('assets/fonts/bebas/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/bebas/BebasNeueBold.woff2') format('woff2'),
        url('assets/fonts/bebas/BebasNeueBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue Book';
    src: url('assets/fonts/bebas/BebasNeueBook.eot');
    src: url('assets/fonts/bebas/BebasNeueBook.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/bebas/BebasNeueBook.woff2') format('woff2'),
        url('assets/fonts/bebas/BebasNeueBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('assets/fonts/bebas/BebasNeueLight.eot');
    src: url('assets/fonts/bebas/BebasNeueLight.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/bebas/BebasNeueLight.woff2') format('woff2'),
        url('assets/fonts/bebas/BebasNeueLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('assets/fonts/bebas/BebasNeue-Thin.eot');
    src: url('assets/fonts/bebas/BebasNeue-Thin.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/bebas/BebasNeue-Thin.woff2') format('woff2'),
        url('assets/fonts/bebas/BebasNeue-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}



@font-face {
    font-family: 'Abel';
    src: url('assets/fonts/abel/Abel-Regular.eot');
    src: url('assets/fonts/abel/Abel-Regular.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/abel/Abel-Regular.woff2') format('woff2'),
        url('assets/fonts/abel/Abel-Regular.woff') format('woff'),
        url('assets/fonts/abel/Abel-Regular.ttf') format('truetype'),
        url('assets/fonts/abel/Abel-Regular.svg#Abel-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}



