.site-info {
    display: flex;
    justify-content: space-between;
    height: 5%;
    align-content: center;
    position: fixed;
    bottom: 0;
    width: 95%;
    left: 2.5%;
    right: 2.5%;
}


.logo-left {
    background: url("assets/NW_logo_black.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 50px;
}

.social-links {
    display: flex;
    flex-direction: row; 
    margin: 0;  
    width: 25%;
    justify-content: space-between;

    @include desktop {
        width: 10%;
    }

    li {
        list-style-type: none;
    }

    a {
        color: black;

        &:hover {
            color: black;
        }
    }
}