.photography-body {
    display: flex;
    width: 100%;
    margin-top: 5%;
    flex-direction: column;

    @include desktop {
        flex-direction: row;
    }
}

.post-type-archive-photography  {
    .site-info {
        position: relative;

        @include desktop {
            position: fixed;
        }
    }
}

.photos-container {
    width: 95%;
    height: 77vh;
    display: flex;
    overflow-x: auto;
    margin: $center;

    @include desktop {
        width: 85%;
    }

    &::-webkit-scrollbar {
        display: none;
    }
}

.photoslider-btn-lft, .photoslider-btn-right {
    background: rgba(0,0,0,.5);
    color: white;
    border: none;
    box-shadow: none;
    font-family: $abel;
    font-size: 3rem;
    position: absolute;
    z-index: 10;
    top: calc(50% - 3rem);

}

.photoslider-btn-lft {
    right: 0;
}

.photoslider-btn-right {
    left: 0;

    @include desktop {
        left: 16%;
    }
}
.photography-title {
    font-family: $bebas;
    font-size: 1.2rem;
    letter-spacing: 8px;
    color: lighten(grey,30%);
    width: auto;
    margin: $center;

    @include desktop {
        position: absolute;
        top: 10%;
        left: 17%;
        font-size: 3rem;
    }
}

.photo-image {
    height: 100%;

    p {
        margin: 0;
        color: gray;
        font-family: $bebas;
        font-size: 1rem;
    }

    img {
        height: 80%;
        padding-right: 10px;
    }

    &:last-of-type {
        img {
            padding: 0;
        }
    }
}

.filter-box {
    width: 95%;
    display: flex;
    flex-direction: column;
    margin: $center;
    
    @include desktop {
        margin-top: 5%;
        margin-left: 2%;
        width: 15%;
    }
}

.photo-filters {
    font-family: $abel;
    font-size: 1rem;
    color: black;
    border-bottom: 1px solid black;
    width: 20%;
    padding-bottom: 5px;
    text-transform: lowercase;
}

.photo-types {
    margin: 0;
    padding: 0; 
    display: flex;
    justify-content: space-between;
    width: 100%;

    @include desktop {
        flex-direction: column;
    }
}

.photo-type {
    list-style-type: none;
    text-transform: lowercase;
    font-family: $abel;
    color: grey;
    display: flex;
    flex-direction: row;

    &:visited {
        color: lighten(grey, 50%);
    }
}

// SINGLE PHOTO

.photo_img {
    width: 92%;
    height: 82vh;
    margin-left: auto;
    margin-right: auto;

    img {
        width: 100%;
        height: 100%;
    }
}

// TAXNONOMIES

.tax-photo_types {

    .site-info {
        position: relative;

        @include desktop {
            position: fixed;
        }
    }
}